In [1]:
def factorial(n):
    '''returns n factorial, e.g. n!'''
    return 1 if n < 2 else n * factorial(n-1)

In [2]:
factorial(42)

1405006117752879898543142606244511569936384000000000

In [3]:
factorial.__doc__

'returns n factorial, e.g. n!'

In [4]:
type(factorial)

function

In [5]:
fact = factorial

In [6]:
fact

In [7]:
fact(5)

120

In [8]:
map(factorial, range(11))

In [9]:
list(map(fact, range(11)))

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

In [15]:
fruits = ['strawberry', 'fig', 'apple', 'cherry', 'raspberry', 'banana']

In [16]:
sorted(fruits, key=len)

['fig', 'apple', 'cherry', 'banana', 'raspberry', 'strawberry']

In [17]:
def reverse(word):
    '''this function reverses the letters in a word'''
    return word[::-1]

In [18]:
reverse('testing')

'gnitset'

In [19]:
sorted(fruits, key=reverse)

['banana', 'apple', 'fig', 'raspberry', 'strawberry', 'cherry']

In [20]:
list(map(fact, range(6)))

[1, 1, 2, 6, 24, 120]

In [23]:
# How to do the same as above, but using list comprehensions
[fact(n) for n in range(6)]

[1, 1, 2, 6, 24, 120]

In [25]:
list(map(factorial, filter(lambda n: n% 2, range(6))))

[1, 6, 120]

In [29]:
# Again, the same as above but using list comprehensions
[factorial(n) for n in range(6) if n % 2]

[1, 6, 120]

In [31]:
# Use the built-in function sum() insted of reduce()
from functools import reduce
from operator import add
reduce(add, range(100))

4950

In [32]:
# sum() is simpler and more readable:
sum(range(100))

4950

### Anonymous Functions